* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

[class*=col-] {
    border: 1px solid #000;
}

.authorization-list {
    display: flex;
    justify-content: center;
}

.authorization-list__item:first-child {
    margin-right: 1rem;
}

.logo {
    text-align: center;
}

.header__first-column {
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    .logo {
        text-align: left;
        margin-left: 38px;
    }

    .authorization-list {
        margin-right: 40px;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    .logo {
        margin-left: 0;
    }

    .authorization-list {
        margin-right: 0;
    }
}